Repository ethereum/trin, pull requests merged in 2024-10, with the labels that each got.

#1503 refactor(census): split census into multiple files and remove "Subnetwork"
  portal-bridge/src/census/mod.rs
  portal-bridge/src/census/network.rs
Labels: portal-bridge

#1505 refactor(trin-execution): state import/export don't need TrinExecution
  trin-execution/src/cli.rs
  trin-execution/src/main.rs
  trin-execution/src/storage/execution_position.rs
  trin-execution/src/subcommands/era2/export.rs
  trin-execution/src/subcommands/era2/import.rs
  trin-execution/tests/export_import.rs
Labels: trin execution

#1511 fix(state bridge): gossip contract storage tries
  portal-bridge/src/bridge/state.rs
  trin-execution/src/storage/evm_db.rs
  trin-execution/tests/content_generation.rs
Labels: portal-bridge

#1502 chore(book): add a note about resolving `docker_compose_v2` error in ansible
  book/src/developers/contributing/releases/deployment.md
Labels: flamingo

#1510 refactor: split census into multiple types
  portal-bridge/src/bridge/state.rs
  portal-bridge/src/census/mod.rs
  portal-bridge/src/census/network.rs
  portal-bridge/src/census/peers.rs
  portal-bridge/src/main.rs
Labels: portal-bridge

#1560 fix: census should update ENR on liveness check
  portal-bridge/src/census/network.rs
  portal-bridge/src/census/peers.rs
Labels: portal-bridge
