Repository ethereum/trin, pull requests merged in 2024-09, with the labels that each got.

#1413 feat(beacon): store `LightClientBootstrap` in separate db table
  trin-beacon/src/storage.rs
  trin-storage/src/sql.rs
  trin-storage/src/utils.rs
Labels: beacon network

#1427 feat(beacon): load trusted block root from database if not provided via CLI
  ethportal-api/src/types/cli.rs
  portalnet/src/config.rs
  trin-beacon/src/network.rs
  trin-beacon/src/storage.rs
  trin-beacon/src/sync.rs
  trin-storage/src/sql.rs
Labels: beacon network

#1431 refactor: change RawContentKey to alloy_primites::Bytes
  ethportal-api/src/types/content_key/beacon.rs
  ethportal-api/src/types/content_key/history.rs
  ethportal-api/src/types/content_key/overlay.rs
  ethportal-api/src/types/content_key/state.rs
  ethportal-api/src/types/portal.rs
  ethportal-api/src/types/portal_wire.rs
  portalnet/src/find/query_info.rs
  portalnet/src/gossip.rs
  portalnet/src/overlay/protocol.rs
  portalnet/src/overlay/service.rs
  trin-beacon/src/jsonrpc.rs
  trin-beacon/src/storage.rs
  trin-history/src/jsonrpc.rs
  trin-state/src/jsonrpc.rs
  trin-storage/src/versioned/id_indexed_v1/migration.rs
  trin-storage/src/versioned/id_indexed_v1/store.rs
  trin-validation/src/header_validator.rs
Labels: refactoring

#1433 feat(beacon): improve `LightClientBootstrap` validation
  ethportal-api/src/beacon.rs
  ethportal-api/src/types/consensus/light_client/bootstrap.rs
  ethportal-api/src/types/jsonrpc/endpoints.rs
  rpc/src/beacon_rpc.rs
  trin-beacon/src/jsonrpc.rs
  trin-beacon/src/validation.rs
  trin-validation/src/oracle.rs
Labels: beacon network

#1434 feat(beacon-bridge): delay `LightClientBootstrap` gossip with 2 slots
  portal-bridge/src/bridge/beacon.rs
Labels: beacon network

#1439 feat: add support for async transaction execution
  portal-bridge/src/bridge/state.rs
  trin-execution/src/era/binary_search.rs
  trin-execution/src/era/types.rs
  trin-execution/src/evm/async_db.rs
  trin-execution/src/evm/block_executor.rs
  trin-execution/src/evm/blocking.rs
  trin-execution/src/evm/dao_fork.rs
  trin-execution/src/evm/mod.rs
  trin-execution/src/evm/post_block_beneficiaries.rs
  trin-execution/src/evm/spec_id.rs
  trin-execution/src/evm/tx_env_modifier.rs
  trin-execution/src/lib.rs
  trin-execution/src/main.rs
Labels: state network

#1442 feat: add basic support for eth_call
  Cargo.lock
  Cargo.toml
  ethportal-api/src/eth.rs
  rpc/Cargo.toml
  rpc/src/errors.rs
  rpc/src/eth_rpc.rs
  rpc/src/evm_state.rs
  rpc/src/lib.rs
  trin-execution/Cargo.toml
  trin-execution/src/evm/async_db.rs
  trin-execution/src/evm/tx_env_modifier.rs
Labels: state network

#1443 feat(state): add cache to EvmBlockState
  rpc/src/evm_state.rs
Labels: state network

#1450 refactor: simplify TrinExecution
  trin-execution/src/evm/block_executor.rs
  trin-execution/src/execution.rs
  trin-execution/src/storage/execution_position.rs
  trin-execution/src/subcommands/era2/import.rs
  trin-execution/src/trie_walker.rs
  trin-execution/src/types/block_to_trace.rs
Labels: refactoring, trin execution

#1451 feat(trin-execution): allow ctrl+c to immediately stop execution
  trin-execution/src/execution.rs
  trin-execution/src/main.rs
Labels: trin execution

#1441 feat(beacon): add full validation for light client updates
  ethportal-api/src/beacon.rs
  ethportal-api/src/types/consensus/light_client/mod.rs
  ethportal-api/src/types/consensus/light_client/store.rs
  ethportal-api/src/types/jsonrpc/endpoints.rs
  light-client/src/client.rs
  light-client/src/consensus/consensus_client.rs
  light-client/src/node.rs
  rpc/src/beacon_rpc.rs
  trin-beacon/src/jsonrpc.rs
  trin-beacon/src/network.rs
  trin-beacon/src/validation.rs
  trin-validation/src/oracle.rs
Labels: beacon network

#1436 feat: add block by number and remove epoch accumulators
  ethportal-api/src/lib.rs
  ethportal-api/src/types/content_key/history.rs
  ethportal-api/src/types/content_value/history.rs
  ethportal-peertest/src/scenarios/basic.rs
  ethportal-peertest/src/scenarios/bridge.rs
  ethportal-peertest/src/scenarios/find.rs
  ethportal-peertest/src/scenarios/gossip.rs
  ethportal-peertest/src/scenarios/offer_accept.rs
  ethportal-peertest/src/scenarios/paginate.rs
  ethportal-peertest/src/scenarios/state.rs
  ethportal-peertest/src/scenarios/utp.rs
  ethportal-peertest/src/scenarios/validation.rs
  ethportal-peertest/src/utils.rs
  portal-bridge/src/api/execution.rs
  portal-bridge/src/bridge/era1.rs
  portal-bridge/src/bridge/history.rs
  portal-bridge/src/bridge/utils.rs
  portal-bridge/src/stats.rs
  rpc/src/eth_rpc.rs
  src/bin/poll_latest.rs
  src/bin/sample_range.rs
  src/bin/test_providers.rs
  test_assets/mainnet/0x030013c08b64bf7e3afab80ad4f8ea9423f1a7d8b31a149fc3b832d7980719c60c.portalcontent
  test_assets/mainnet/0x03ed8823c84177d8ffabf104566f313a2b2a43d05304ba6c74c2f5555bae0ef329.portalcontent
  test_assets/mainnet/large_content/15040641/body.bin
  test_assets/mainnet/large_content/15040641/header.bin
  test_assets/mainnet/large_content/15040641/receipts.bin
  test_assets/mainnet/large_content/15040708/body.bin
  test_assets/mainnet/large_content/15040708/header.bin
  test_assets/mainnet/large_content/15040708/receipts.bin
  test_assets/mainnet/large_content/README.txt
  tests/rpc_server.rs
  tests/self_peertest.rs
  trin-history/src/storage.rs
  trin-history/src/validation.rs
  trin-state/src/validation/validator.rs
  trin-validation/src/accumulator.rs
  trin-validation/src/header_validator.rs
  trin-validation/src/oracle.rs
Labels: history network

#1471 feat(trin-execution): add JSON-RPC trait's required for the Engine API
  Cargo.lock
  Cargo.toml
  ethportal-api/Cargo.toml
  ethportal-api/src/eth.rs
  ethportal-api/src/types/execution/header.rs
  ethportal-peertest/Cargo.toml
  ethportal-peertest/src/scenarios/paginate.rs
  rpc/Cargo.toml
  rpc/src/eth_rpc.rs
  trin-execution/Cargo.toml
  trin-execution/src/engine/mod.rs
  trin-execution/src/engine/rpc.rs
  trin-execution/src/evm/tx_env_modifier.rs
  trin-execution/src/lib.rs
Labels: trin execution

#1470 chore: extract shared logic from trin-execution::evm into trin-evm crate
  .circleci/config.yml
  Cargo.lock
  Cargo.toml
  portal-bridge/Cargo.toml
  portal-bridge/src/bridge/state.rs
  rpc/Cargo.toml
  rpc/src/eth_rpc.rs
  rpc/src/evm_state.rs
  trin-evm/Cargo.toml
  trin-evm/README.md
  trin-evm/src/async_db.rs
  trin-evm/src/lib.rs
  trin-evm/src/spec_id.rs
  trin-evm/src/tx_env_modifier.rs
  trin-execution/Cargo.toml
  trin-execution/src/era/binary_search.rs
  trin-execution/src/era/types.rs
  trin-execution/src/evm/block_executor.rs
  trin-execution/src/evm/mod.rs
  trin-execution/src/evm/post_block_beneficiaries.rs
  trin-execution/src/main.rs
Labels: cleanup

#1469 feat: unify data directory cli
  Cargo.lock
  ethportal-api/src/types/cli.rs
  ethportal-api/src/types/portal_wire.rs
  portal-bridge/src/bridge/state.rs
  portal-bridge/src/handle.rs
  portalnet/Cargo.toml
  portalnet/src/discovery.rs
  portalnet/src/overlay/service.rs
  portalnet/src/utils/db.rs
  portalnet/tests/overlay.rs
  rpc/src/rpc_server.rs
  src/bin/purge_invalid_history_content.rs
  src/lib.rs
  trin-execution/Cargo.toml
  trin-execution/src/cli.rs
  trin-execution/src/execution.rs
  trin-execution/src/main.rs
  trin-execution/src/storage/account_db.rs
  trin-execution/src/storage/utils.rs
  trin-execution/src/trie_walker.rs
  trin-execution/src/types/block_to_trace.rs
  trin-execution/tests/content_generation.rs
  trin-utils/Cargo.toml
  trin-utils/src/dir.rs
  trin-utils/src/lib.rs
  utp-testing/src/lib.rs
Labels: cleanup, refactoring

#1491 feat(beacon): validate `HistoricalSummariesWithProof` if finalized state root is available
  trin-beacon/src/validation.rs
Labels: beacon network

#1497 feat(state-bridge): add support for gossiping blocks from a range
  portal-bridge/README.md
  portal-bridge/src/bridge/state.rs
Labels: portal-bridge
