Repository ethereum/trin, pull requests merged in 2024-08, with the labels that each got.

#1364 feat(beacon-network): add json-rpc method to get the latest finalized state root
  ethportal-api/src/beacon.rs
  ethportal-api/src/types/jsonrpc/endpoints.rs
  light-client/src/client.rs
  light-client/src/node.rs
  rpc/src/beacon_rpc.rs
  trin-beacon/src/jsonrpc.rs
Labels: beacon network

#1367 refactor: simplify json-rpc proxy logic
  ethportal-api/src/types/jsonrpc/endpoints.rs
  ethportal-api/src/types/jsonrpc/request.rs
  rpc/src/beacon_rpc.rs
  rpc/src/errors.rs
  rpc/src/fetch.rs
  rpc/src/history_rpc.rs
  rpc/src/state_rpc.rs
Labels: refactoring

#1368 refactor: state validation and trie node traversal improvements
  ethportal-api/src/types/state_trie/mod.rs
  ethportal-api/src/types/state_trie/nibbles.rs
  ethportal-api/src/types/state_trie/trie_traversal.rs
  trin-state/src/validation/error.rs
  trin-state/src/validation/trie.rs
  trin-state/src/validation/validator.rs
Labels: refactoring

#1385 docs: update deployment docs
  book/src/developers/contributing/releases/deployment.md
Labels: documentation

#1376 chore: update flamingo rotation manual
  book/src/developers/contributing/releases/deployment.md
  book/src/developers/contributing/rotation/index.md
Labels: documentation, flamingo

#1391 feat: add debug logging to gossip logic
  portalnet/src/gossip.rs
Labels: investigation-diary

#1393 fix(state-bridge): storage trie changes weren't being gossiped
  Cargo.lock
  ethportal-api/Cargo.toml
  portal-bridge/Cargo.toml
  portal-bridge/src/bridge/state.rs
  trin-execution/Cargo.toml
  trin-execution/src/content.rs
  trin-execution/src/storage/account_db.rs
  trin-execution/src/storage/evm_db.rs
  trin-execution/src/trie_walker.rs
  trin-state/Cargo.toml
Labels: state network, portal-bridge

#1401 feat(beacon): store `HistoricalSummariesWithProof` into db instead of cache
  trin-beacon/src/storage.rs
  trin-storage/src/sql.rs
  trin-storage/src/utils.rs
Labels: beacon network

#1403 refactor: decode ContentValue only with known ContentKey
  ethportal-api/src/beacon.rs
  ethportal-api/src/history.rs
  ethportal-api/src/lib.rs
  ethportal-api/src/state.rs
  ethportal-api/src/types/beacon.rs
  ethportal-api/src/types/content_key/history.rs
  ethportal-api/src/types/content_value/beacon.rs
  ethportal-api/src/types/content_value/history.rs
  ethportal-api/src/types/content_value/mod.rs
  ethportal-api/src/types/content_value/state.rs
  ethportal-api/src/types/history.rs
  ethportal-api/src/types/mod.rs
  ethportal-api/src/types/portal.rs
  ethportal-api/src/types/state.rs
  ethportal-peertest/src/scenarios/basic.rs
  ethportal-peertest/src/scenarios/bridge.rs
  ethportal-peertest/src/scenarios/find.rs
  ethportal-peertest/src/scenarios/gossip.rs
  ethportal-peertest/src/scenarios/offer_accept.rs
  ethportal-peertest/src/scenarios/paginate.rs
  ethportal-peertest/src/scenarios/state.rs
  ethportal-peertest/src/scenarios/utp.rs
  ethportal-peertest/src/scenarios/validation.rs
  ethportal-peertest/src/utils.rs
  light-client/src/consensus/rpc/portal_rpc.rs
  portal-bridge/src/bridge/beacon.rs
  portal-bridge/src/bridge/era1.rs
  portal-bridge/src/bridge/history.rs
  portal-bridge/src/gossip.rs
  portal-bridge/src/utils.rs
  rpc/src/beacon_rpc.rs
  rpc/src/errors.rs
  rpc/src/fetch.rs
  rpc/src/history_rpc.rs
  rpc/src/state_rpc.rs
  src/bin/poll_latest.rs
  test_assets/portalnet/content/beacon/light_client_bootstrap.json
  test_assets/portalnet/content/beacon/light_client_finality_update.json
  test_assets/portalnet/content/beacon/light_client_optimistic_update.json
  test_assets/portalnet/content/beacon/light_client_updates_by_range.json
  tests/rpc_server.rs
  trin-beacon/src/jsonrpc.rs
  trin-beacon/src/storage.rs
  trin-history/src/jsonrpc.rs
  trin-history/src/storage.rs
  trin-state/src/jsonrpc.rs
  trin-state/src/storage.rs
  trin-state/src/validation/validator.rs
  trin-validation/src/oracle.rs
Labels: state network

#1399 feat: implement eth_getBalance, eth_getCode and eth_getStorageAt
  Cargo.lock
  ethportal-api/src/eth.rs
  ethportal-api/src/types/state_trie/trie_traversal.rs
  rpc/Cargo.toml
  rpc/src/errors.rs
  rpc/src/eth_rpc.rs
  rpc/src/fetch.rs
  trin-state/src/validation/trie.rs
Labels: state network
